<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title></title>

    <!--PRIMARY-->
    <meta name="dc.title" content="" />
    <meta property="og:title" content="" />
    <meta name="dc.description" content="" />
    <meta name="description" content="" />
    <meta name="dcterms.audience" content="" />
    <meta name="dc.identifier" scheme="URI" content="" />
    <meta name="dc.date.created" scheme="W3CDTF" content="" />
    <meta name="dc.date.issued" scheme="W3CDTF" content="" />
    <meta name="dc.date.modified" scheme="W3CDTF" content="" />
    <!--PRIMARY-->
    
    <!--CONTROLLED-->
    <meta name="dc.subject" scheme="gccore" content="" />
    <meta name="Keywords" content="" />
    <meta name="dc.type" scheme="oncatype" content="" />
    <!--CONTROLLED-->
    
    <!--FACEBOOK-->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <!--FACEBOOK-->	
	
	<!--SECONDARY-->
    <meta name="dc.format" scheme="IMT" content="text/html" />
    <meta name="dc.creator" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.publisher" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.contributor" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.language" scheme="ISO639-2" content="fre" />
    <meta name="dc.coverage.jurisdiction" content="Province d'Ontario" />
    <meta name="dc.coverage.spatial" content="Ontario, Canada" />
    <meta name="dc.rights.intellectualProperty" content="Renseignements sur les droits d'auteur Imprimeur de la Reine pour l'Ontario, 2009 - 2010" />
    <meta name="go.contact.content" content="nmu.moe@ontario.ca" />
    <meta name="go.contact.technical" content="webmaster.moe@ontario.ca" />
    <!--SECONDARY-->

	<link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/new.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/master.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/changeme.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/mobile.css" type="text/css" media="handheld" />
    
    <link rel="icon" type="image/png" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/images/trillium4.ico" />
    
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministryscripts/scripts/scripts.js"></script>

	<style type="text/css">
      .js #smenu3 {display:none;}
      .js #smenu4 {display:none;}
      .js #smenu5 {display:none;}
      .js #smenu6 {display:none;}
      .js #smenu7 {display:none;}
    </style>
    
    <script type="text/javascript">
      document.getElementsByTagName('html')[0].className = 'js';
    </script>
	<!--MOE Geomatics Center -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script type="text/html" id='TRAISTemplate'>
		<H2>Installations et rapports relatifs au toxiques</H2>
		<%
			var totalFacility = 0;
			for (var i = 0; i<facilityDict.length; i++) {
				totalFacility = totalFacility + facilityDict[i].facilityList.length
			}
		%>				
		Les installations suivantes ont produit un rapport sur les substances toxiques:<P>	
		<%
			_.each(facilityDict,function(facilityEntry,key,list){
		%>
			<H3><%= facilityEntry.index %></H3>
			<%
				_.each(facilityEntry.facilityList,function(facility,key,list){
					var substance = "substance";
					if (facility.Substances > 1) {
						substance = "substances";
					} 
			%>
				<A HREF=annual<%= facility.NPRIID %>.html><%= facility.CompanyName %>-<%= facility.FacilityName %> [<%= facility.City %>]</A> (<%= facility.Substances %> <%= substance %>)<BR>
			<%
				});
			%>				
		<%
			});
		%>		
	</script>
	<!--MOE Geomatics Center -->
	<meta content="MSHTML 6.00.2900.3698" name="GENERATOR" />

</head>

<body id="home">

<div id="wrapper">

  <div id="header"> 
  
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_header_fr.js"></script>
    
  </div>

  <a name="top" id="top"></a>
  
  <div id="right_column">

    <div class="row">
      
 <!--     <h1>Production Example</h1> -->
      
    </div>

	<a name="content" id="content"></a>
    
    <!-- ENTER YOUR CONTENT HERE - BEGIN -->
    <div id="target"></div>
    
    
    <!-- ENTER YOUR CONTENT HERE - END -->    

  </div>

  <div id="left_column">
 
 	<div class="leftnav">
      <div class="photocap nav_top mycolour">&nbsp;</div>
      <div class="mycolour"><h2 class="header"><a style="display:block;" href="javascript:void(0)" onclick="showHide('smenu1');return false;">Toxiques<img src="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/images/arrow_down.gif" width="9" height="9" alt="" title="Open the explore menu" id="smenu1_arrow" /></a></h2></div>
      <ul class="menu clear" id="smenu1" style="display:block;">
        <li><a href="http://www.ene.gov.on.ca/environment/fr/subject/toxics/index.htm">Réduire les toxiques</a></li>
        <li><a href="http://www.ene.gov.on.ca/environment/fr/resources/collection/data_downloads/index.htm#Toxiques">Téléchargement des données</a></li>
        <li><a href="http://www.ene.gov.on.ca/environment/fr/mapping/trais/STDPROD_101842.html">Aide</a></li>
        <li><a href="http://www.ene.gov.on.ca/environment/fr/mapping/trais/">Programme de réduction des substances toxiques</a></li>
        <li><a href="oda.html">Version accessible</a></li>
        <!-- <li><a href="oda.html">Version texte-pur</a></li> -->
    </div>
    
    <div id="second_nav"></div>
	
	<script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_secondary_fr.js"></script>
 
  </div>

  <div id="footer">
    
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_footer_fr.js"></script>
    
  </div>

</div>
	<!--MOE Geomatics Center -->
 	<script type="text/javascript">
		${TRAIS_DATA}
		var template = $("#TRAISTemplate").html();		
		$("#target").html(_.template(template, facilityDict));
	</script>
	<!--MOE Geomatics Center -->
</body>

</html>
