<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title></title>

    <!--PRIMARY-->
    <meta name="dc.title" content="" />
    <meta property="og:title" content="" />
    <meta name="dc.description" content="" />
    <meta name="description" content="" />
    <meta name="dcterms.audience" content="" />
    <meta name="dc.identifier" scheme="URI" content="" />
    <meta name="dc.date.created" scheme="W3CDTF" content="" />
    <meta name="dc.date.issued" scheme="W3CDTF" content="" />
    <meta name="dc.date.modified" scheme="W3CDTF" content="" />
    <!--PRIMARY-->
    
    <!--CONTROLLED-->
    <meta name="dc.subject" scheme="gccore" content="" />
    <meta name="Keywords" content="" />
    <meta name="dc.type" scheme="oncatype" content="" />
    <!--CONTROLLED-->
    
    <!--FACEBOOK-->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <!--FACEBOOK-->	
	
	<!--SECONDARY-->
    <meta name="dc.format" scheme="IMT" content="text/html" />
    <meta name="dc.creator" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.publisher" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.contributor" content="Gouvernement de l'Ontario, Ministere de l'Environnement" />
    <meta name="dc.language" scheme="ISO639-2" content="fre" />
    <meta name="dc.coverage.jurisdiction" content="Province d'Ontario" />
    <meta name="dc.coverage.spatial" content="Ontario, Canada" />
    <meta name="dc.rights.intellectualProperty" content="Renseignements sur les droits d'auteur Imprimeur de la Reine pour l'Ontario, 2009 - 2010" />
    <meta name="go.contact.content" content="nmu.moe@ontario.ca" />
    <meta name="go.contact.technical" content="webmaster.moe@ontario.ca" />
    <!--SECONDARY-->

	<link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/new.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/master.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/changeme.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/css/mobile.css" type="text/css" media="handheld" />
    
    <link rel="icon" type="image/png" href="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/images/trillium4.ico" />
    
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministryscripts/scripts/scripts.js"></script>

	<style type="text/css">
      .js #smenu3 {display:none;}
      .js #smenu4 {display:none;}
      .js #smenu5 {display:none;}
      .js #smenu6 {display:none;}
      .js #smenu7 {display:none;}
    </style>
    
    <script type="text/javascript">
      document.getElementsByTagName('html')[0].className = 'js';
    </script>
	<!--MOE Geomatics Center -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script type="text/html" id='TRAISTemplate'>
		<TABLE BORDER=0 WIDTH=600>
			<A NAME="top"></A>
			<TR><TD COLSPAN=2><CENTER><H2>Rapport annuel sur la période de déclaration de 2010</H2></CENTER><P></TD></TR>
			<TR><TD>Nom de l'installation:</TD><TD><%= info.FacilityName %></TD></TR>
			<TR><TD>Nom de l'entreprise:</TD><TD><%= info.CompanyName %></TD></TR>
			<TR><TD>Adresse:</TD><TD><%= info.Address %></TD></TR>
			<TR><TD>Secteur:</TD><TD><%= info.Sector %></TD></TR>
			<TR><TD>ID INRP:</TD><TD><%= info.NPRIID %></TD></TR>
			<TR><TD>Personne-ressource:</TD><TD><%= info.PublicContact %><BR><%= info.PublicContactPhone %><BR><A HREF=mailto:<%= info.PublicContactEmail %>><%= info.PublicContactEmail %></A></TD></TR>
			<TR><TD COLSPAN=2>&nbsp;<BR>Certifié par <U><%= info.HighestRankingEmployee %></U>, employé le plus élevé hiérarchiquement<BR>&nbsp;</TD></TR>
			<TR><TD COLSPAN=2><A NAME="subst"></A><%= ((info.hasOwnProperty("Substances") && info.Substances.length > 0)) ? "Liste des substances:" : "" %>			
            <%
                _.each(info.Substances,function(substance,key,list){
            %>
				<A HREF="#<%= substance.Name %>"><%= substance.Name %></A>,
            <%
                });
            %>
			<TR><TD COLSPAN=2><HR></TD><TR>			
		</TABLE><P>
			<%= ((info.hasOwnProperty("Substances") && info.Substances.length > 0)) ? "" : "Il n'y a pas d'information sur les substances toxiques fournie par cette entreprise ou installation<BR>" %>
            <%
                _.each(info.Substances,function(substance,key,list){
            %>
				<A NAME="<%= substance.Name %>"></A><U><B><%= substance.Name %></B></U><P>
				<TABLE BORDER=1 WIDTH=600>
						<TR>
							<TD WIDTH=50% BGCOLOR=lightgrey>&nbsp;</TD>
							<TD WIDTH=50% BGCOLOR=lightgrey>2010<BR>Quantité déclarée <BR>(<%= substance.Units %>)</TD>
						</TR>
						<TR>
							<TD>Quantité ayant pénétré l'installation (utilisée)</TD>
							<TD><%= substance.Used %></TD>
						</TR>
						<TR>
							<TD>Quantité créée</TD>
							<TD><%= substance.Created %></TD>
						</TR>
						<TR>
							<TD>Quantité contenue dans les produits<BR>&nbsp;</TD>
							<TD><%= substance.Contained %></TD>
						</TR>
						<TR>
							<TD>Quantité émise dans l'air<BR></TD>
							<TD><%= substance.Air %></TD>
						</TR>
						<TR>
							<TD>Quantité rejetée dans l'eau</TD>
							<TD><%= substance.Water %></TD>
						</TR>
						<TR>
							<TD>Quantité déversée sur les sols<BR>&nbsp;</TD>
							<TD><%= substance.Land %></TD>
						</TR>
						<TR>
							<TD>Quantité éliminée dans le site</TD>
							<TD><%= substance.DOnSite %></TD>
						</TR>
						<TR>
							<TD>Quantité éliminée hors site</TD>
							<TD><%= substance.DOffSite %></TD>
						</TR>
						<TR>
							<TD>Quantité recyclée hors site</TD>
							<TD><%= substance.ROffSite %></TD>
						</TR>
						</TABLE>
				<BR><BR><I><A HREF="http://www.ene.gov.on.ca/environment/en/resources/collection/data_downloads/index.htm">Ensemble de données à télécharger</A></I><BR>
				<A HREF="#top">Haut de la page</A><BR><HR WIDTH=100%>
				</OL><P>
            <%
                });
            %>
		<BR><BR>Les rapports d'installations ou d'entreprise sont aussi disponibles sous <A HREF=oda.html>format texte-pur</A>.	
	</script>
	<!--MOE Geomatics Center -->
	<meta content="MSHTML 6.00.2900.3698" name="GENERATOR" />

</head>

<body id="home">

<div id="wrapper">

  <div id="header"> 
  
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_header_fr.js"></script>
    
  </div>

  <a name="top" id="top"></a>
  
  <div id="right_column">

    <div class="row">
      
 <!--     <h1>Production Example</h1> -->
      
    </div>

	<a name="content" id="content"></a>
    
    <!-- ENTER YOUR CONTENT HERE - BEGIN -->
    <div id="target"></div>
    
    
    <!-- ENTER YOUR CONTENT HERE - END -->    

  </div>

  <div id="left_column">
 
 	<div class="leftnav">
      <div class="photocap nav_top mycolour">&nbsp;</div>
      <div class="mycolour"><h2 class="header"><a style="display:block;" href="javascript:void(0)" onclick="showHide('smenu1');return false;">Toxiques<img src="http://www.ene.gov.on.ca/stdprodconsume/fragments/ministrystylesheets/images/arrow_down.gif" width="9" height="9" alt="" title="Open the explore menu" id="smenu1_arrow" /></a></h2></div>
      <ul class="menu clear" id="smenu1" style="display:block;">
        <li><a href="http://www.ene.gov.on.ca/environment/fr/subject/toxics/index.htm">Réduire les toxiques</a></li>
        <li><a href="http://www.ene.gov.on.ca/environment/fr/resources/collection/data_downloads/index.htm#Toxiques">Téléchargement des données</a></li>
        <li><a href="http://www.ene.gov.on.ca/environment/fr/mapping/trais/STDPROD_101842.html">Aide</a></li>
        <li><a href="http://www.ene.gov.on.ca/environment/fr/mapping/trais/">Programme de réduction des substances toxiques</a></li>
        <li><a href="oda.html">Version accessible</a></li>
        <!-- <li><a href="oda.html">Version texte-pur</a></li> -->
    </div>
    
    <div id="second_nav"></div>
	
	<script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_secondary_fr.js"></script>
 
  </div>

  <div id="footer">
    
    <script type="text/javascript" src="http://www.ene.gov.on.ca/stdprodconsume/groups/lr/@enetemplates/documents/developerfile/moe_footer_fr.js"></script>
    
  </div>

</div>
	<!--MOE Geomatics Center -->
 	<script type="text/javascript">
		/*${TRAIS_DATA}
		if ((!info.hasOwnProperty("PublicContact")) || (info.PublicContact.length === 0)) {
			info.PublicContact = "[<I>Aucun nom disponible</I>]";
		}
		if (!info.hasOwnProperty("PublicContactPhone")) {
			info.PublicContactPhone = "";
		}
		if (!info.hasOwnProperty("PublicContactEmail")) {
			info.PublicContactPhone = "";
		}
		var template = $("#TRAISTemplate").html();		
		$("#target").html(_.template(template, info));
		*/
		var QueryString = function () {
		  // This function is anonymous, is executed immediately and 
		  // the return value is assigned to QueryString!
		  var query_string = {};
		  var query = window.location.search.substring(1);
		  var vars = query.split("&");
		  for (var i=0;i<vars.length;i++) {
			var pair = vars[i].split("=");
				// If first entry with this name
			if (typeof query_string[pair[0]] === "undefined") {
			  query_string[pair[0]] = pair[1];
				// If second entry with this name
			} else if (typeof query_string[pair[0]] === "string") {
			  var arr = [ query_string[pair[0]], pair[1] ];
			  query_string[pair[0]] = arr;
				// If third or later entry with this name
			} else {
			  query_string[pair[0]].push(pair[1]);
			}
		  } 
			return query_string;
		} ();
		var layer = new gmaps.ags.Layer('http://lrcdrrvsdvap002/ArcGIS/rest/services/Interactive_Map_Public/TRAIS/MapServer/2');
		var params = {
			where: "ID = " + QueryString.id,
			outFields: ["FacilityName", "Address", "OrganizationName", "NPRI_ID", "Sector", "Contact", "Phone", "Email", "HREmploy", "SubstanceName", "Units", "Use", "Creation", "Contained", "ReleasestoAir", "ReleasestoWater", "ReleasestoLand", "DisposalOnSite", "DisposalOffSite", "RecycleOffSite"]
		};
		var renderResult = {};		
		var processResultSet = function (rs) {
			var fs = rs.features;
			attr = fs[0].attributes;
			renderResult.FacilityName = attr.FacilityName;
			renderResult.CompanyName = attr.OrganizationName;
			renderResult.Address = attr.Address;
			renderResult.Sector = attr.Sector;
			renderResult.NPRIID = attr.NPRI_ID;
			renderResult.PublicContact = (attr.Contact === null) ?  "[<I>Aucun nom disponible</I>]" : attr.Contact;
			renderResult.PublicContactPhone = attr.Phone;
			renderResult.PublicContactEmail = attr.Email;
			renderResult.HighestRankingEmployee = attr.HREmploy;
			var substances = [];
			for (var i = 0, c = fs.length; i < c; i++) {
				attr = fs[i].attributes;
				var s = {
					Name: attr.SubstanceName,
					Units: attr.Units,
					Used: attr.Use,
					Created: attr.Creation,
					Contained: attr.Contained,
					Air: attr.ReleasestoAir,
					Water: attr.ReleasestoWater,
					Land: attr.ReleasestoLand,
					DOnSite: attr.DisposalOnSite,
					DOffSite: attr.DisposalOffSite,
					ROffSite: attr.RecycleOffSite
				};
				substances.push(s);
			}
			renderResult.Substances = substances;
			var template = $("#TRAISTemplate").html();		
			$("#target").html(_.template(template, renderResult));			
		}
		layer.query(params, processResultSet);
		
	</script>
	<!--MOE Geomatics Center -->
</body>

</html>
